.bg-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: absolute;
    top: 10%;
    align-items: center;
  }
  .google-logo {
    width: 34%;
  }
  .search-input-container {
    width: 55%;
    margin-top: 40px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 16px 0px #bfbfbf;
    cursor: pointer;
  }
  .search-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    width: 100%%;
    cursor: pointer;
  }
  .search-box {
    border-radius: 20px;
    width: 100%;
    border: 0px;
    padding: 10px;
    outline: none;
  }
  .search-icon {
    width: 20px;
    height: 20px;
    align-self: center;
    margin-left: 5px;
  }
  .para {
    padding: 0px;
  }
  ul {
    margin: 0;
    padding-left: 18px;
  }
  